
/* defoult css */
*{
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
img{
    max-width: 100%;
    height: 68px;
    width: 318px;;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
/* header css */
.fixed-with{
    width: 1070px;
    margin: auto;
}
.header{ 
    background-color:#3498db ;
}
.header-left{
    float: left;
    width: 30%;
}

.header-right{
    float: right;
    width: 70%;
}
.header-right ul{
    text-align: right;
}
.header-right ul li{
    display: inline-block;
    margin-left: .4s;
}
.header-right ul li a{
    display: block;
    text-decoration: none;
    color:#fff ;
    font-size: 20px;
    padding: 0 30px;
    line-height: 74px;
    border-right: 1px solid #fff ;
    transform: .4s;
}
.header-right ul li a:hover{
    background: #2980b9;
}
.banner{
    background-image: url(./autoplaythumbnail.jpg);
    padding: 200px 3px;
    background-size: 1248px;
    background-repeat: no-repeat;
}
.banner-caption{}
.banner-caption h1{
    background: rgba(52, 152, 219, .6);
    color: #fff;
    max-width: 500px;
    margin: auto;
    font-size: 40px;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 20px;
}
.banner-caption h2{
    background: rgba(0,0,0,.4);
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 33px;
    border-radius: 5px;
}
 /* service css */
 .service{
    margin-top: 60px;
 }
.service-item{
    width: 33.3%;
    float: left;
   border: 1px solid#ddd;
   padding:25px 10px;
   box-sizing: border-box;
    text-align: center;
}
.service-item span{
    display: block;
    height: 60px;
    width: 60px;
    background: #3498db;
    color: white;
    margin: auto;
    font-size: 35px;
    line-height: 60px;
    border-radius: 20px 0 20px;
}
.service-item h3{
    margin: 20px 0;
    font-size: 30px;
}
/* aobut us */
.about{
    margin-top: 50px;
}
.about h2{ 
    font-size: 30px;
    margin-bottom: 16px;
}
.about p{
    max-width: 700px;
    margin: auto;
    font-size: 21px;
}

.blog-left-container{
    float: left;
    width: 70%;

}
.blog-left-notification{
    float:right;
    width: 25%;
}

.blog-item img{
    float:left ;
    width: 160px;
    height: auto;
    margin-right: 15px;
}